@charset "gb2312";
body{font:12px/26px tahoma,\5b8b\4f53;color:#2b2b2b;min-width:1000px;}
body,div,form,p,img,ul,li,ol,dl,dt,dd{margin:0;padding:0;border:0;}
li{list-style:none;}
i,em{font-style:normal;}
h1,h2,h3,h4,h5{font-size:100%;font-weight:normal;margin:0;padding:0;}
img{border:0px;}
img,input{vertical-align:middle;}
.left{float:left;}
.right{float:right;}
a {color: #333;text-decoration: none;}
a:hover {color: #5C0587;text-decoration: underline;}
ul,li,p,h1,h2,dl,dt,dd,form,input {margin: 0px;padding: 0px;list-style-type: none;}
li {display: inline;float: left;}
img {border: 0px;}
.nav,.index_show,.index_list{clear:both;margin: 0px auto 10px auto;overflow:hidden;}
.nav_app,.footer_app,.app_cpc{display:none;}
.header{background:#fff;}
.box960{ width:960px; margin:0 auto;}
.mt5{margin-top:5px;}
.mb5{margin-bottom:5px;}
.mtb5{margin-top:5px;margin-bottom:5px;}
.logoc{ height:92px; position:relative;}
.logo{ position:absolute; left:0; top:0;}
.logo a{width:250px; height:92px; display:block;text-indent:-4000px; background:url('/style/bg.png') no-repeat;background-position: -16px 0px !important;}
.banner{position:absolute;width:390px;padding-left:260px;padding-top:15px;text-align:center;}
.hotWords{ position:absolute; right:0; top:57px;}
.hotWords a{color:#555555; padding-right:7px;}
.topLink{position:absolute;right:0; padding-right:7px;}
.index_show{width:960px;height:390px;}
.index_show .show{float:left;margin-right:5px;border:3px solid #EAEAEA;padding:2px;}
.index_show .hit,.index_show .top{height:386px;padding:1px;border:1px solid #e5e5e5;overflow:hidden;}
.index_show .hit{float:right;width:370px;}
.index_show .top{float:left;width:270px;overflow:hidden;}
.box300{ width:300px; float:right; padding:5px; background:#eeeeee;}
.index_title_new{line-height:31px;height:31px; background:#e5e5e5;}
.index_title_new .tit{ float:left; margin-right:8px; background:#b76f88; padding-bottom:5px; line-height:26px; height:26px;width:95px; text-align:center;font-size:14px; cursor:default;}
.index_title_new .cur{ background:url('/style/bg.png') no-repeat;position:relative;background-position: -103px -311px !important;}
.index_title_new span{ color:#fff;}
.hit_content li,.top_content li {border-bottom:1px dashed #b76f88;width:100%;}
.top_content li a{float:left;}
.top_content li span{width:35px;color:#c33a69;float:right;}
.hit_content,.top_content{width:96%;margin-left:10px;}
.hit_content{float:left;width:185px;}
.nav{height:38px; line-height:38px; width:100%;  padding-bottom:3px; background:url('/style/navR.png') repeat-x;}
.navul li{position:relative; float:left; padding:0 4px; background:url('/style/navLi.png') right top  no-repeat;}
.navul a{ float:left;width:98px; text-align:center; color:#fff;}
.navul  a:hover{background:url('/style/bg.png') no-repeat; color:#fff; text-decoration:none;background-position: -3px -307px !important;}
.f14{font-size:14px;}
.home{background:url('/style/bg.png') no-repeat; color:#fff; text-decoration:none;background-position: -3px -307px !important;}
.index_list{width: 958px;border: 1px solid #e5e5e5;}
.list_title,.index_title{font-size: 14px;font-weight: bold;color: #b322b6;background-image: url(/style/list_title.gif);background-repeat: repeat-x;background-position: left 9px;display: inline;float: left;height: 30px;width: 946px;margin-left: 6px;}
.list_title span{float: left;padding-top:3px;text-align: center;display: inline;height: 24px;width: 120px;margin-left: 18px;background-color: #ffffff;}
.list_title span a{color:#b322b6;}
.index_title span{float: left;padding-top:3px;text-align: center;display: inline;height: 24px;width: 80px;margin-left: 18px;background-color: #ffffff;}
.more {float: right;margin-right: 20px;margin-top: 8px;background:url('/style/bg.png') no-repeat; background-position: -152px -356px !important;width:38px;height:11px;}
.index_pic{width:950px; overflow:hidden;margin-left:6px;}
.hit_img{width:150px; overflow:hidden;margin-left:6px;float:left;margin-top:5px;}
.index_pic .tit{background:#000; line-height:24px; height:24px; overflow:hidden; text-align:center; display:block; color:#fff; margin:-24px 1px 0; width:130px; position:relative; opacity:0.6;filter:alpha(opacity=60); cursor:pointer;}
.hit_img .tit{background:#000; line-height:24px; height:24px; overflow:hidden; text-align:center; display:block; color:#fff; margin:-24px 1px 0; width:120px; position:relative; opacity:0.6;filter:alpha(opacity=60); cursor:pointer;}
.hit_ulpic li,.ulPic li{padding:3px;border:solid 1px #ddd;margin:0 0 10px 15px;}
.hit_ulpic li,.ulPic li{float:left;text-align:center;overflow:hidden;}
.hit_ulpic li:hover,.ulPic li:hover{opacity:0.8;filter: alpha(opacity=80);-moz-opacity: 0.8;}
.hit_ulpic li a,.ulPic li a{text-decoration:none;}
.hit_ulpic li:hover,.ulPic li:hover{box-shadow:none;background:#ddd;}
.atc_pic img,.ulPic li img{width:130px;height:170px;}
.text-c{text-align: center}
.main{clear:both;margin: 0px auto 10px auto;width:960px;}
.atc_new_head {height:180px; width:940px; background:#e5e5e5; padding:10px;}
.atc_new_box { height:180px; background:#fff;}
.atc_pic {padding:5px 20px 5px 5px;}
.atc_center  {width:480px; overflow:hidden;}
.content_title{height:30px; width:480px; padding-top:10px; overflow:hidden;color: #ff6699;font-family: Georgia,"Times New Roman",Times,serif;font-size:20px; line-height:30px;}
.Share { height:40px; clear:both; padding-top:10px;}
.clear{clear:both;}
.inputtime{clear:both;}
.inputtime a{margin-right:10px;}
.right_pic {width:239px; padding:10px 10px 0 0 ; line-height:20px; text-align:center;}
.right_pic p {width:114px; overflow:hidden; height:20px;}
.right_pic img {width:100px; height:130px; padding:5px; border:4px solid #e5e5e5; }
.crc_l_pic,.crc_r_pic {position: relative;}
.crc_r_pic em{background:url('/style/bg.png') no-repeat;background-position: -8px -106px}
.crc_l_pic em,.crc_r_pic em {display:block;  position:absolute; left:0px; top:0px;width:50px;height:50px;}
.crc_l_pic em{background:url('/style/bg.png') no-repeat;background-position: -146px -106px}
.search{background:url('/style/bg.png') no-repeat; background-position: -1px -267px !important;width:300px;height:32px;position:absolute; right:0; top:26px;}
.search .txt{ height:28px; width:232px; line-height:28px; position:absolute; padding-left:5px; left:2px; top:2px;border:none;  background:none;}
.search .btn{ width:60px; height:32px; position:absolute; right:0; top:0; border:none; background:none; cursor:pointer;}
.search_list{clear:both;margin: 0px auto 10px auto;overflow:hidden;width:960px;}
.search_list .text{border-bottom:1px dashed #ffffff;}
.search_content{margin-top:10px;}
.search_content .wrap{float:left;}
.search_content .wrap img{float:left;padding:3px;border:1px solid #e5e5e5}
.search_content .wrap h5{float:left;top:0;margin-left:10px;}
.search_content li{height:100px;width:100%;margin-bottom:10px;border-bottom:1px dashed #cccccc;}
.search_tag li{width:950px;height:20px;line-height:20px;}
.content{margin-top:10px;text-align:center;clear:both;}
.content img{padding:3px;border:1px solid #eee;}
.showhits,.fFvatbX,.ARSl2Ka,.flZ0df3,.oP7WcAw,.wd8erVn,.Use0xCk,.yHyNSlb,.HSdHSH0,.re8tnBu{width:958px;margin-top:10px;margin-bottom:10px;border:1px solid #eee;overflow:hidden;clear:both;}
.showhits li,.fFvatbX li,.ARSl2Ka li,.flZ0df3 li,.oP7WcAw li,.wd8erVn li,.Use0xCk li,.yHyNSlb li,.HSdHSH0 li,.re8tnBu li{ 
float: left; 
width: 228px; 
height: 20px; 
text-align: left; 
line-height:20px;
margin-left:10px;
margin-bottom:5px;
overflow:hidden;
} 
.pages,.cgdijkn,.pfb45A1,.wpwRCvy,.zrLIsoJ,.RlpeZsp,.d70rZyL,.vd7O8HI,.i09cWt8,.Mrlsr55{ padding:14px 0 10px; font-family:ו;text-align:center;clear:both;}
.pages a,.cgdijkn a,.pfb45A1 a,.wpwRCvy a,.zrLIsoJ a,.RlpeZsp a,.d70rZyL a,.vd7O8HI a,.i09cWt8 a,.Mrlsr55 a{ display:inline-block; height:22px; line-height:22px; background:#fff; border:1px solid #b76f88; text-align:center; color:#333; padding:0 10px;}
.pages a.a1,.cgdijkn a.a1,.pfb45A1 a.a1,.wpwRCvy a.a1,.zrLIsoJ a.a1,.RlpeZsp a.a1,.d70rZyL a.a1,.vd7O8HI a.a1,.i09cWt8 a.a1,.Mrlsr55 a.a1{ background:url('/style/bg.png') no-repeat 0 5px; width:56px; padding:0;background-position: -1px -351px !important;}
.pages a:hover,.cgdijkn a:hover,.pfb45A1 a:hover,.wpwRCvy a:hover,.zrLIsoJ a:hover,.RlpeZsp a:hover,.d70rZyL a:hover,.vd7O8HI a:hover,.i09cWt8 a:hover,.Mrlsr55 a:hover{background:#c33a69; color:#fff; text-decoration:none}
.pages span,.cgdijkn span,.pfb45A1 span,.wpwRCvy span,.zrLIsoJ span,.RlpeZsp span,.d70rZyL span,.vd7O8HI span,.i09cWt8 span,.Mrlsr55 span{display:inline-block; height:22px; line-height:22px; background:#c33a69; border:1px solid #b76f88; color:#fff; text-align:center;padding:0 10px}
.avrquwl,.stmyzbx,.cgdijkk,.pwb45A1,.wppRCvy,.zKLIsoJ,.RlHeZsp,.d70qZyL,.vI7O8HI,.i099Wt8,.Mrlhr55,.ApxBGcj,.O5hE1YO,.bFzVVIb,.cgKhHJm,.NpowfkG,.fFva0bX,.ARSR2Ka,.flZ0dv3,.oP7WdAw,.wd8SrVn,.UsP0xCk,.yH0NSlb,.HStHSH0,.re8tbBu{text-align:center;clear:both;}
.avrquwl img,.stmyzbx img,.cgdijkk img,.pwb45A1 img,.wppRCvy img,.zKLIsoJ img,.RlHeZsp img,.d70qZyL img,.vI7O8HI img,.i099Wt8 img,.Mrlhr55 img,.ApxBGcj img,.O5hE1YO img,.bFzVVIb img,.cgKhHJm img,.NpowfkG img,.fFva0bX img,.ARSR2Ka img,.flZ0dv3 img,.oP7WdAw img,.wd8SrVn img,.UsP0xCk img,.yH0NSlb img,.HStHSH0 img,.re8tbBu img{margin-top:10px;}
.keywords{width:958px;padding:1px;border:1px solid #e5e5e5;overflow:hidden;;margin-top:5px;margin-bottom:5px;}
.keywords_title{line-height:31px; height:31px; background:#e5e5e5;}
.keywords_title .tit{ float:left; margin-right:8px; background:#b76f88; padding-bottom:5px; line-height:26px; height:26px;width:95px; text-align:center;font-size:14px; cursor:default;}
.keywords_title .cur{ background:url('/style/bg.png') no-repeat;position:relative;background-position: -103px -311px !important;width:95px;height:31px;}
.keywords_title span{ color:#fff;}
.footer {clear:both;line-height: 22px;text-align: center;width: 960px;margin: 0px auto;padding-top: 6px;}
.footer_title{line-height:31px; height:31px; background:#e5e5e5;text-align:left;}
.footer_title .tit{ float:left; margin-right:8px; background:#b76f88; padding-bottom:5px; line-height:26px; height:26px;width:95px; text-align:center;font-size:14px; cursor:default;}
.footer_title .cur{ background:url('/style/bg.png') no-repeat;position:relative;background-position: -103px -311px !important;}
.footer_title span{ color:#fff;}
.footer_content{height:40px;background:#e5e5e5;}
.footer_content_bg{width:950px;height:35px;border-left:5px solid #e5e5e5;border-bottom:5px solid #e5e5e5;border-right:5px solid #e5e5e5;;background:#fff;}
.footer_content_bg li {width:118px;float:left;padding-top:5px;}